{{yield}}

<div class="marker-details">
	<div class="content">
		<header class="marker-details-header">
			<div class="text-center marker-details-title">
				Nome do marcador
				<a class="marker-desc-close" href="#">X</a>
			</div>
		</header>
				<p><strong>Nome:</strong> Nome do marcador</p>
                <p><strong>Latitude:</strong> 0.0</p>
                <p><strong>Longitude:</strong> 0.0</p>


	</div>
</div>


<script type="text/javascript">
	$('.marker-desc-close').on('click', function(){
		$('.marker-desc-wrapper').hide();
	});
</script>
