{{yield}}
<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="#">ONDE TEM</a>
		</div>
		{{ondetem-search search="searchquery"}}
	</div>
</nav>
