{{yield}}

<div class="marker-details">
	<div class="content">
		<header class="marker-details-header">
			<div class="text-center marker-details-title">
				Novo marcador
			</div>
		</header>
	</div>
</div>
