.fullheight{
	height : 100%;
}

html, body{
	height: 100%;
}

body {
  padding-top: 50px;
}

.fullwidth{
	width: 100%;
}

.map{
	flex-grow: 4;
	flex-shrink: 4;
}

.marker-details-wrapper{
	flex:none;
	display: none;
	flex-grow: 1;
	flex-basis: auto;
	padding: 1em;
}

.flexwrap{
	flex-wrap: wrap;
	word-wrap: normal;
	flex-shrink: 1;
	max-width: 100px;
}

.marker-desc-wrapper{
	display: none;
	flex: 0 0 30em;
	padding: 1em;
}

.marker-desc-wrapper header{
	background: #fff;
	border: 1px solid #000;
}

.marker-details-close{
	position: absolute;
	display: block;
	top: 5px;
	right: 5px;
	line-height: 12px !important;
}

.marker-details{
	padding-top: 5px;
	position: relative;
}

.marker-details-header{
	background: #cecece;
	height: 75px;
	margin-bottom: 1em;
}

.marker-details-content{
	position: relative;
	overflow: hidden;
	width: 100%;
}

.marker-details-title{
	position: relative;
	line-height: 75px;
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
}

.content-wrapper{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
	position: relative;
}
