.fullheight{
	height : 100%;
}

html, body{
	height: 100%;
}

body {
  padding-top: 50px;
}

.marker-details{
	padding-top: 5px;
}

.marker-details-header{
	background: #cecece;
	height: 75px;
}

.marker-details-title{
	line-height: 75px;
	font-size: 1.6em;
	font-family: 'Roboto', sans-serif;
}

.content-wrapper{
	width: 100%;
	height: 100%;
	position: relative;
}
