
{{ondetem-nav}}

<div class="content-wrapper">
	{{ondetem-map markers=model mapHeight='100%' contextmenu="new_marker"}}
	{{ondetem-form marcador=novo_marcador novo_marcador="save_marker"}}
	{{ondetem-desc marcador=selected_marcador}}
</div>
